* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: cursive;
  color: #000000;
  text-shadow: 5px 5px 0 #ffffff, -5px 5px 0 #ffffff, -5px -5px 0 #ffffff,
    5px -5px 0 #ffffff;
  font-size: 80px;
  text-align: center;
  margin: 30px 0 0 0;
  /* background-color: #f9e8a6; */
  border-radius: 25%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("wallpaper.png");
}
.ttt {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 3fr);
  gap: 10px;
  width: 15%;
  height: 30%;
  padding: 20px;
  margin: 20px auto;
}

.ttt button {
  height: 200px;
  width: 200px;
  border-radius: 35%;
  font-size: 500%;
  font-family: cursive;
  font-weight: bold;
  cursor: pointer;
  scale: 1;
  transition: all 0.5s ease;
}

.ttt button:hover {
  scale: 1.05;
  background-color: rgb(237, 237, 121);
  transition: all 0.5s ease;
}

div.ttt {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 10px;
  width: 15%;
  height: 30%;
}
